:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --about-primary-color: #9a000f;
  --about-secondary-color: #efe6de;
  --heading-font-family: "playfair display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

.hero p {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 36px;
  color: #272142;
}
.hero h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
  color: black;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: lighter;
  line-height: 2;
  font-size: 24px;
}

.hero {
  background-color: var(--secondary-color);
  padding: 160px 20px;
}

.hero .btn-branding {
  background-color: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  padding: 15px 30px;
  line-height: 27px;
}

p {
  font-family: var(--default-font-family);
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

.project-btn .btn-branding {
  background-color: white;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  padding: 15px 30px;
  line-height: 27px;
}

.project-description h2 {
  font-family: var(--heading-font-family);
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
}

.about-section {
  background-color: var(--about-secondary-color);
  padding: 80px;
}

.about-section h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
  color: var(--about-primary-color);
}

.about-section h2 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  line-height: 2;
  font-size: 18px;
  color: #5e1803;
  opacity: 0.8;
}

.about-section .btn-branding,
footer .about-contact-box .btn-branding {
  color: var(--about-secondary-color);
  background-color: var(--about-primary-color);
  border-radius: 4px;
  font-size: 18px;
  padding: 15px 30px;
  line-height: 27px;
}

.content-container {
  padding: 160px 20px;
}

.content h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
  color: black;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;

  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-left: 15px;
}

nav a {
  line-height: 60px;
  text-decoration: none;
  color: black;
}

nav a:hover,
.active {
  color: var(--branding-color);
}

.about-navbar a {
  color: var(--about-primary-color);
}

.about-navbar a:hover,
.about-navbar a.about-active {
  color: #5e1803;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .about-contact-box {
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p,
footer .about-contact-box {
  margin: 0;
}

footer h4 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 8px;
  line-height: 1.2;
  font-size: 48px;
}

footer .contact-box h4 {
  color: black;
}

footer .about-contact-box h4 {
  color: var(--about-primary-color);
}

footer .btn-branding {
  background-color: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  padding: 15px 30px;
  line-height: 27px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

footer .about-contact .email-link:hover {
  color: var(--about-primary-color);
}

footer .about-contact .social-links a {
  background-color: var(--about-secondary-color);
  color: var(--about-primary-color);
}

footer .about-contact .social-links a:hover {
  color: var(--about-secondary-color);
  background-color: var(--about-primary-color);
}

@media (max-width: 960px) {
  .hero h1 {
    font-size: 48px;
  }
  .hero h2,
  .project-description h2 {
    font-size: 24px;
  }

  p {
    font-size: 12px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
  .content {
    text-align: center;
    padding: 0;
  }
}
